<!-- Section 1: concept and CTA -->
	<section class="landing1">
		<div class="container">
			<div class="row">
					<h1>Globe trotting duckies.<br>Bringing people together.</h1>
				
			</div>
			<div class="row row-centered">
				<div class="col-sm-12">
					<%= link_to("What is #duckymissions?", "pages/log", class: "btn text-center") %>
				</div>
			</div>
		</div>
	</section>

<!-- Section 2: Active ducks -->
	<section class="landing2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Active duckies.</h2>
					<%= render 'duckposts' %>
				</div>
			</div>
		</div>
	</section>

<!-- Section 3: The team -->
	<section class="landing3">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>The team.</h2>
				</div>
			</div>
			<div class="row team">
				<div class="col-xs-6 ">
						<div class="row">
							<%= image_tag('sarah.png', :class => "center-block") %>
						</div>
						<div class="row descrip">
							<h3>Sarah</h3>
							<p>Sarah is a junior at Harvard University studying Computer Science and Psychology. She loves swing dancing, yoga, puppies, and anything pink.</p>
						</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<%= image_tag('michael.png', :class => "center-block") %>
					</div>
					<div class="row descrip">
						<h3>Michael</h3>
						<p>Michael is a senior at Georgetown University studying Business.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- Section 4: Urbian info -->

	<section class="landing4">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 ">
					<%= image_tag('urbian_circle.png') %>
				</div>
				<div class="col-sm-9 ">
					<div class="address">
						<p>Urbian info here</p>
					</div>
				</div>
			</div>
		</div>
	</section>
