<!DOCTYPE html>
<html>
<head>
  <title>Ducky Missions</title>
  <%= stylesheet_link_tag    'application', rel:'stylesheet', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>
  

	<style type="text/css"> 
		a { color: #000 ; } 
	</style> 
	
</head>

<body>
	<!-- logo and menu -->
	<div id="site-wrapper">
		<div id="site-canvas">
			
			<%= image_tag("full_logo.png", class: "logo") %>
			
			<a href="#" class="toggle-nav btn btn-menu"><%= icon('bars') %></a>
			
			
			<%= yield %>

			<div id="footer">
				<p>#duckymissions &copy 2014</p>
			</div>
			
			<div id="site-menu">
				<h2>Menu</h2>
				<br>
				<h4><%= link_to "Log a Duck", posts_path %></h4>
				<br>
				<h4><%= link_to "Explore Ducky Missions", posts_path %></h4>
			</div><!--end menu-->

		</div><!-- end #site-canvas -->
	</div><!-- end #site-wrapper -->

</body>
</html>
